<!-- Default home page -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
<style>
  /* Styles included inline since you'll probably be deleting this page anyway */
  html,body{text-align:left;font-size:1em}html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code{margin:0;padding:0}ul,li{list-style:none}img{display:block}a img{border:0}a{text-decoration:none;font-weight:normal;font-family:inherit}*:active,*:focus{outline:0;-moz-outline-style:none}h1,h2,h3,h4,h5,h6{font-weight:normal}div.clear{clear:both}.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}body{font-family:"Open Sans",Arial,sans-serif;font-weight:300;}.top-bar {width: 100%; background-color: #e4f0f1; padding: 15px 0;}.top-bar .container img {float: left;}.top-bar .container ul {float: right; padding-top: 25px;}.top-bar .container li {float: left; width: 125px; text-align: center; font-size: 15px; color:#000; font-weight: 600;}.top-bar .container a li:hover {color: #118798; -webkit-transition:color 200ms; -moz-transition:color 200ms; -o-transition:color 200ms;transition:color 200ms;}.container{width: 80%; max-width: 1200px; margin: auto;}div.header {-webkit-transition: 6s; -moz-transition: 6s; -o-transition: 6s;transition: 6s; background: rgba(4, 36, 41, 0.89) url(http://sailsjs.org/images/img_sailsShadow.png) no-repeat 42% bottom; padding: 100px 0 65px;}.header h1#main-title{color: #fff; font-weight: 300; font-size: 2.5em;}.header h3{color: #b1eef7; font-style: italic; font-weight: 300;}.header h3 code{font-style: normal!important; background-color: rgba(255,255,255,0.5); font-weight: 300; color:#0e6471; margin: 0px 5px;}div.main.container{padding: 50px 0;}h1 {color: #118798; font-weight: 300;}code {font-size: inherit; font-family: 'Consolas', 'Monaco', monospace; padding:4px 5px 1px; background-color: #f3f5f7}a{color: #118798; font-weight: 300; text-decoration: underline;}a:hover {color: #0e6471; -webkit-transition:color 200ms; -moz-transition:color 200ms; -o-transition:color 200ms;transition:color 200ms;}p{line-height: 1.5em;}blockquote{background-color: #e4f0f1; padding: 25px; line-height: 1.5em; margin: 15px 0;}blockquote span{font-weight: 600; padding-right: 5px;}ul.getting-started{padding: 25px 75px 25px 0; width: 70%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}ul.getting-started li{padding: 25px 0;}ul.getting-started li h3 {padding-bottom: 10px; font-size: 25px; font-weight: 300;}.sprite{background:url(http://sailsjs.org/images/newapp.sprite.png) no-repeat; position: absolute; left: 0; top:0;}.getting-started .sprite{margin-left:10px;padding-left:60px;height:42px;width:0; float: left;}.getting-started .one{background-position:0 0}.getting-started .two{background-position:0 -42px}.getting-started .three{background-position:0 -83px}div.step {position: relative; padding-left: 70px; opacity: 0.9;}div.step:hover{ opacity: 1;}div.links {float: left; width: 30%; max-width: 325px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #f3f5f7; border: 1px solid #ebebeb; padding: 25px 45px 35px;}div.links h3 {color: #727272; text-align: center; font-size: 28px; font-weight: 300;}div.links h4 {color: #727272; font-size: 17px; font-weight: 600; padding: 15px 0 10px;}div.links .link-list a {text-decoration: none; font-weight: 400;}div.links .link-list a li {padding: 0px 0px 5px 10px;}div.default-page{min-width: 1200px;}.pocket{display:none;}
  .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
.table>thead>tr>td, .table>thead>tr>th ,.table>tbody>tr>td{
    text-align: center;
    vertical-align: middle
    }
div.header{padding: 50px 0 40px;}
</style>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('Gem Dependencies app.') %></h1>
    <!--<h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>-->
  </div>
  <div class="main container clearfix">
    <!-- <h1>Getting started</h1>
    <p>Don't worry, we've got your back.</p> -->
    <div class="container">
    <div class="row col-xs-10 custyle">

        <div class="form-group">
            <div class="input-group col-xs-offset-4">
              <input type="text" class="form-control" name="gem_name-text" id="gem_name-text" placeholder="gem name .." required>
            </div>
            <div class="input-group col-xs-8 col-xs-offset-2">
                <input type="text" class="form-control"  id="linux_libs-text" placeholder="linux libs [Array:string] .." required>
              <input type="text" class="form-control" id="mac_libs-text" placeholder="mac libs [Array:string] .." required>
              <input type="text" class="form-control" id="windows_libs-text" placeholder="windows libs [Array:string] .." required>
            </div>

        </div>

    <a href="#" id="addGem" class="btn btn-primary btn-sm col-xs-offset-5"><b>+</b> Add</a>

    <table class="table table-striped custab" valign="middle" align="center">
    <thead >
        <tr>
            <th rowspan="2">s.</th>
            <th rowspan="2">Gem</th>
            <th colspan="3">Dependencies</th>
            <th rowspan="2" class="text-center">Action</th>
        </tr>
        <tr >     
            <td>linux</td>
            <td>mac</td>
            <td>windows</td>  
        </tr>
    </thead>
    <tbody>
            <% gems.forEach((gem,index)=>{ %>
                <tr>
                    <td><%=index+1%></td>
                    <td><%=(gem.gem_name)    ?     gem.gem_name             : "---" %></td>
                    <td><%=(gem.gem_deps[0]) ?  ( (gem.gem_deps[0].linux)   ? gem.gem_deps[0].linux   : "---" )  : "---"  %></td>
                    <td><%=(gem.gem_deps[1]) ?  ( (gem.gem_deps[1].mac)     ? gem.gem_deps[1].mac     : ( (gem.gem_deps[0].mac) ? gem.gem_deps[0].mac : "---") )  : ( (gem.gem_deps[0].mac) ? gem.gem_deps[0].mac : "---" ) %></td>
                    <td><%=(gem.gem_deps[2]) ?  ( (gem.gem_deps[2].windows) ? gem.gem_deps[2].windows : "---" )  : ( (gem.gem_deps[1] && gem.gem_deps[1].windows) ? gem.gem_deps[1].windows : ((gem.gem_deps[0].windows)?gem.gem_deps[0].windows:"---") )%></td>
                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
            <% }); %>
    </tbody>
            
    </table>
    </div>
    </div>
</div>
</div>
